%ul.nav
  %li.nav-item
    %a.nav-link{href: "/"}
      My Feed

  %li.nav-item
    %a.nav-link{href: "/all"}
      All Sources

  %li.nav-item
    %a.nav-link{href: "/tags"}
      All Tags

  %li.nav-item
    .dropdown.hide
      %a.nav-link{"data-toggle": "modal", "data-target":"#sourceModalLong", href: "#", role: "button"}Add Source
