<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/">
      My Feed
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/all">
      All Sources
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tags">
      All Tags
    </a>
  </li>
  <li class="nav-item">
    <div class="dropdown hide">
      <a class="nav-link" data-target="#sourceModalLong" data-toggle="modal" href="#" role="button">Add Source</a>
    </div>
  </li>
</ul>
