%h3
  %a{href: @article.url}
    = @article.title

%p
  %b
    published at:
  = @article.published_at

%p
  %b
    summary:

- if @body
  - @body.each do |p|
    %p
      = p.gsub("[", " ").gsub("]", " ")
