.col-12.col-lg-12

  add source:

  %form{method: "post", action: "/create", class: "form-inline"}
    .form-group
    %input{name: "url", type: "text", class: "form-control"}
    %input{type: "submit", class: "btn btn-primary"}

