.col-12.col-lg-12
  %form{method: "post", action: "/create"}
    .form-group
      %label{for: "feed_url"}
        Feed URL
      %input{name: "url", type: "text", class: "form-control",id: "feed_url"}
    .form-group
      %label{for: "source_tags"}
        Tags
      %input{name: "tags", type: "text", class: "form-control", id: "source_tags"}
    .form-group
      %button{type: "submit", class: "btn btn-primary"}
        add

