<div class="col-12 col-lg-12">
  <form action="/create" method="post">
    <div class="form-group">
      <label for="feed_url">
        Feed URL
      </label>
      <input class="form-control" id="feed_url" name="url" type="text"></input>
    </div>
    <div class="form-group">
      <label for="source_tags">
        Tags
      </label>
      <input class="form-control" id="source_tags" name="tags" type="text"></input>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        add
      </button>
    </div>
  </form>
</div>
