.col-12.col-lg-12

  %form{method: "post", action: "/create", class: "form-inline"}
    .form-group
      %input{name: "url", type: "text", class: "form-control"}
      %button{type: "submit", class: "btn btn-primary"}
        add

