%a.navbar-brand{href: "/"}
  flatreader

%ul.navbar-nav.flex-row.ml-md-auto
  - if @current_user
    %li.nav-item.mr-1
      %form{method: "post", action: "/search", class: "form-inline search"}
        .form-group
          %input{name: "q", type: "text", class: "form-control"}
          %button{type: "submit", class: "btn btn-success"}
            Search

    %li.nav-item.mr-1
      %a.btn.btn-primary{href: '/settings'}
        = @current_user.email
    %li.nav-item.mr-1
      %a.btn.btn-primary{href: '/logout'}
        Log Out
  - else
    %li.nav-item.mr-1
      %a.btn.btn-primary{href: '/signup'}
        Sign Up
    %li.nav-item
      %a.btn.btn-primary{href: '/login'}
        Log In
