<div class="pure-u-3-3">
  <ul></ul>
  <% @articles.each do |a| %>
    <li>
      <span>
        <image class="favicon" src="<%= a.source.favicon %>"></image>
      </span>
      <span>
        <%= a.published_at.strftime('%m/%d/%Y') if a.published_at %>
      </span>
      <a href="/articles/<%= a.id %>">
        <%= a.title %>
      </a>
    </li>
  <% end %>
</div>
