%html!
  %head
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin: "anonymous"}
    %link{rel: "shortcut icon", href: "http://sinatra.github.com/images/favicon.ico"}
    %link{href: "/main.css", rel: "stylesheet"}

  %body
    %header.navbar
      %a.navbar-brand{href: "#"}
        flatreader

    .row-fluid.flash-containter
      = styled_flash

    .col-12.col-lg-9.col-md-9.col-xs-12
      = haml :create_source

    .container-fluid
      .row
        .col-12.col-lg-3.col-md.9col-xs-12
          = haml :sidebar
        .col-12.col-lg-9.col-md-9.col-xs-12
          = yield

    %footer.navbar
      %ul.nav
        %li.nav-item
          %a.nav-link{href: "mailto:ckahle33@gmail.com"}
            feedback / comments
