.col.col-9
  %h3
    Settings

  %form{method: "post", action: "/settings"}
    .form-group
      %label{for: "articles_per_source"}
        Articles per source in my feed
      %select{name: "articles_per_source", type: "text", class: "form-control",id: "articles_per_source"}
        - 1.upto(20) do |i|
          %option{value: i, :selected => current_user.articles_per_source == i}
            = i
    .form-group
      %button{type: "submit", class: "btn btn-primary"}
        Save
