- if @sources
  %ul.sidebar
    - @sources.each do |s|
      %li
        %span
          %image.favicon{src: "#{s.favicon}"}
        %a{href: "#{base_url}/sources/#{s.id}"}
          = s.name.downcase
- else
  no sources to list
