<div class="nav-inner">
  <a class="pure-menu-heading" href="/">
    flatreader
  </a>
  <ul class="pure-menu-list">
    <% if @current_user %>
      <li class="pure-menu-item">
        <form action="/search" class="pure-form" method="post">
          <div class="form-group">
            <input class="form-control" name="q" type="text"></input>
            <button class="pure-button pure-button-primary" type="submit">
              Search
            </button>
          </div>
        </form>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/settings">
          <%= @current_user.email %>
        </a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/logout">
          Log Out
        </a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/all">
          All Sources
        </a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/tags">
          All Tags
        </a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/create">Add Source</a>
      </li>
    <% else %>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/signup">
          Sign Up
        </a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/login">
          Log In
        </a>
      </li>
    <% end %>
  </ul>
</div>
