<div class="col-12 col-lg-12 signup">
  <h3>
    Sign Up
  </h3>
  <form action="/users" class="signup" method="post">
    <div class="form-group">
      <label for="email">
        email
      </label>
      <input class="form-control" id="email" name="email" type="text"></input>
    </div>
    <div class="form-group">
      <label for="password">
        password
      </label>
      <input class="form-control" name="password" type="password"></input>
    </div>
    <div class="form-group">
      <label for="password_confirmation">
        password confirmation
      </label>
      <input class="form-control" name="password_confirmation" type="password"></input>
      <br/>
      <button class="btn btn-primary" type="submit">
        go
      </button>
    </div>
  </form>
</div>
