<div class="pure-g">
  <div class="pure-u">
    <h2>
      Sign Up
    </h2>
    <form action="/users" class="pure-form pure-form-stacked" method="post">
      <div class="form-group">
        <label for="email">
          email
        </label>
        <input class="form-control" id="email" name="email" type="text"></input>
      </div>
      <div class="form-group">
        <label for="password">
          password
        </label>
        <input class="form-control" name="password" type="password"></input>
      </div>
      <div class="form-group">
        <label for="password_confirmation">
          password confirmation
        </label>
        <input class="form-control" name="password_confirmation" type="password"></input>
        <br/>
        <button class="pure-button pure-button-primary" type="submit">
          go
        </button>
      </div>
    </form>
    <a href="/auth/twitter" style="color: #1dcaff;">
      Log In with Twitter
    </a>
  </div>
</div>
