<div class="pure-g">
  <div class="pure-u">
    <h2>
      Hello!
      <br/>
      This is a very simple and fast RSS reader.
      <br/>
      We hope you enjoy it.
    </h2>
  </div>
</div>
<h3>
  <a href="/auth/twitter" style="color: #1dcaff;">
    Log In with Twitter
  </a>
</h3>
