.col-9.col-lg-9
  .jumbotron.mb-0.px-3
    %h2.font-weight-bold
      hi.
      %br
      this is a very basic rss reader.
      %br
      it's goal is to be fast and simple.
      %br
      we hope you enjoy it.
.col-3.col-lg-3
  %h3
    %a{href: "/auth/twitter", style: "color: #1dcaff;"}
      Log In with Twitter
