body {
  font-family: sans-serif;
  font-weight: 300;
}

li {
  list-style-type: none;
}

.favicon {
  width: 16px;
  height: 16px;
}

a {
  color: #292b2c;
  text-decoration: underline;
}

h3 {
  font-weight: 700;
}

.navbar-brand {
 font-weight: 700;
}

header {
  border-bottom: 1px solid #292b2c;
}

.action-bar {
  border-bottom: 1px solid #292b2c;
  margin-bottom: 1em;
  padding-top: .4em;
}


footer {
  border-top: 1px solid black;
}

.flash {
  padding: 1em;
}

.sidebar {
  padding-left: 0;
}

.btn, .form-control {
  border-radius: 0;
  border: 1px solid #292b2c;
}

.btn {
  background: #292b2c;
}

.signup {
  max-width: 500px;
}
